# +--------------------------------------------------+
# | File: .gitignore                                 |
# +--------------------------------------------------+

data/
pm25-data-analysis_cache/
.Rproj.user
packrat/lib*/
